# History files
.Rhistory
.Rapp.history

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

/.quarto/
docs/tasks/view-remuneracao-base/src/02-dashboard.html
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/ConselhosdeJustiçaCJF-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/ConselhosdeJustiçaCNJ-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-1-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-2-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-3-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-4-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-5-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-6-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-7-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-8-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-9-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-10-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-11-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-12-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-13-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-14-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-15-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-16-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-17-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-18-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-19-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-20-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-21-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-22-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-23-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçadoTrabalhoTRT-24-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-AC-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-AL-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-AM-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-AP-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-BA-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-CE-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-DF-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-ES-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-GO-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-MA-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-MG-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-MS-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-MT-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-PA-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-PB-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-PE-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-PI-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-PR-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-RJ-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-RN-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-RO-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-RR-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-RS-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-SC-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-SE-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-SP-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEleitoralTRE-TO-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-AC-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-AL-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-AM-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-AP-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-BA-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-CE-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-DFT-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-ES-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-GO-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-MA-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-MG-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-MS-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-MT-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-PA-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-PB-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-PE-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-PI-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-PR-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-RJ-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-RN-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-RO-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-RR-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-RS-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-SC-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-SE-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-SP-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaEstadualTJ-TO-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaFederalTRF-1-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaFederalTRF-2-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaFederalTRF-3-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaFederalTRF-4-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaFederalTRF-5-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaFederalTRF-6-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaMilitarTJM-MG-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaMilitarTJM-RS-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaMilitarTJM-SP-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaSuperiorSTF-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaSuperiorSTJ-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaSuperiorSTM-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaSuperiorTSE-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/JustiçaSuperiorTST-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-AC-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-AL-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-AM-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-AP-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-BA-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-CE-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-DFT-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-ES-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-GO-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-MA-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-MG-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-MS-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-MT-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-PA-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-PB-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-PE-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-PI-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-PR-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-RJ-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-RN-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-RO-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-RR-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-RS-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-SC-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-SE-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-SP-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMP-TO-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMPF-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMPM-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/figure-html/MinistériosPúblicosMPT-1.png
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/bootstrap/bootstrap-a23d63ef1abe7d502b9940799573d78b.min.css
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/bootstrap/bootstrap-icons.css
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/bootstrap/bootstrap-icons.woff
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/bootstrap/bootstrap.min.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/clipboard/clipboard.min.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-dashboard/components.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-dashboard/datatables.min.css
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-dashboard/datatables.min.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-dashboard/pdfmake.min.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-dashboard/quarto-dashboard.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-dashboard/stickythead.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-dashboard/vfs_fonts.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-dashboard/web-components.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-html/anchor.min.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-html/popper.min.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-html/quarto-syntax-highlighting-549806ee2085284f45b00abea8c6df48.css
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-html/quarto.js
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-html/tippy.css
docs/tasks/view-remuneracao-base/src/02-dashboard_files/libs/quarto-html/tippy.umd.min.js
